@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>email:</strong>   <a href="mailto:kbrianmhlongo@gmail.com">kbrianmhlongo@gmail.com</a><br />
    <strong>Phone:</strong> <a href="tel:0815923692">0815923692</a>
</address>