@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calculator Application</h1>
    <p class="lead">Build a simple calculator with the following functionality:.</p>
    <ul class="list-group">
        <li class="list-group-item">Basic arithmetic (+, -, *, /)</li>
        <li class="list-group-item">Show minimum 8 digit display</li>
        <li class="list-group-item">Memory (M+, M-, Recall)</li>
        <li class="list-group-item">Clear All</li>
    </ul>
</div>
